<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <% for(var i = 0; i < submittedForms.length; i++) { %>
		<div>
			<a href="/admin/getSubmittedForm?formID=<%= submittedForms[i].id %>" >
				<%= submittedForms[i].id %>
			</a>
		</div>
	<% } %>
  </body>
</html>